<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">固定費管理アプリ</h1>
          <p class="lead">自分の固定費を投稿して、アドバイスなどをもらうことができます。（登録にかかる時間約３分</p>
        </div>
        <%= render 'form', list: @list %>
      </div>
    </div>
  </div>
</div>