<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">固定費管理アプリ</h1>
          <p class="lead">皆さんお金が貯まらないとか、言っていませんか？それこれで、解決します。それがこれ、<code class="small"> FLXED_FEE</code>これで、いろんなひとで、勉強して支出カット、お金持ちに近づきましょう。</p>
        </div>
        <div>
          <%= link_to '固定費のポートフォリオを作成',new_list_path, class: 'btn'%>
        </div>
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">最近のアップデート</h6>
            <div class="d-flex text-muted pt-3">
              <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">@username</strong>
                吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
              </p>
            </div>
            <%= link_to '見る','#', class: 'btn btn-primary'%>
            <small class="d-block text-end mt-3">
              <a href="#">すべてのアップデート</a>
            </small>
          </div>
      </div>
    </div>
  </div>
</div>